html{
    background-color: black;

}

img{
    border: 5px solid white;
    width: 100%;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}
p{
    color: whitesmoke;
    text-align: center;
}

div{
    margin:25%;
    margin-top: 0;
}

